.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-header {
  background-color: lightgrey
}

.banner-img {
  height: 140px;
  background-image: url('./images/broadway3.jpg');
  background-position: center;
  background-size: 100%;
  font-family: 'Diplomata';
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0px 0px 80px #FFCD00, 0px 0px 80px #FFCD00, 0px 0px 80px #FFCD00;

}

.welcome {
  font-family: 'Playfair Display', serif
}

#notif-label {
  background-color: #1451D3
}

.ui.inverted.menu {
  background: #e1004f;
  margin: 0px
}

.home-container {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#user-form {
  padding: 20px;
  width: 35%;
  margin-left: 35%;
}

#upload-form {
  padding: 20px;
  width: 35%;
  margin-left: 35%;
  color: black
}

.header.review-header {
  width: 25%
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center
}

.ui.cards {
  padding: 20px
}

.ui.images {
  padding: 10px;
  background-color: lightgrey;
  border-radius: 20px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.review-header {
  font-weight: bold;
  width: 20%
}

.user-review-content {
  width: 80%
}

.ui.card {
  border: 2px solid ghostwhite
}

#show-detail-grid {
  padding: 40px
}

#review-btn {
  background-color: #e1004f
}

.review-form-container {
  width: 75%;
  margin-left: 25%;
  margin-top: 10%;
  color: black;
  padding: 10px
}


.info-container {
  background-color: lightgrey;
  color: black;
  padding: 5%;
  border-radius: 20px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto

}

#user-dashboard-grid {
  padding: 40px
}

.row {
  padding: 20px
}

.shows-container {
  padding: 20px
}

.review-link {
  color: #e1004f
}

.ui.image {
  padding: 5px
}

#user_card {
  min-height: 300px;
  margin-top: 10%
}

#challenge-box {
  box-shadow: 5px 5px 5px grey;
}

.show-search {
  margin-left: 75%;
  width: 20%
}

#cover-flow {
  border-radius: 25px;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%
}

.ui.comments {
  width: 75%;
  margin-left: 10%
}

