.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-header {
  background-color: ghostwhite
}

.banner-img {
  height: 110px;
  width: 100%;
  background-image: url('./images/posters.jpg');
  opacity: 0.75;
}

.ui.inverted.menu {
  background: #e1003d;
  margin: 0px
}

.home-container {
  width: 75%;
  margin-left: 10%;
  padding: 20px;
  text-align: center
}

#login {
  width: 30%
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center
}

.ui.cards {
  padding: 10px
}

.ui.card {
  color: #e1003d
}

#show-detail-grid {
  padding: 40px
}

.review-form-container {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  background-color: ghostwhite;
  padding: 10px
}

.reviews-container {
  background-color: darkgray;
  padding: 5%;
  border-radius: 20px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto
}

/* .coverflow__cover__25-7e {
  border: 1px solid antiquewhite
} */

